@import url(./vendor/normalize.css);

/*Подключаем fonts*/
@import url(./fonts/fonts.css);

/*Подключаем page*/
@import url(./blocks/page/page.css);

/*Подключаем header*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

/*Подключаем profile*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__changes-button/profile__changes-button.css);
@import url(./blocks/profile/__profession/profile__profession.css);
@import url(./blocks/profile/__image-link/profile__image-link.css);

/*Подключаем table*/
@import url(./blocks/table/table.css);
@import url(./blocks/table/__cells/table__cells.css);

/*Подключаем cell*/
@import url(./blocks/cell/cell.css);
@import url(./blocks/cell/__image/cell__image.css);
@import url(./blocks/cell/__info/cell__info.css);
@import url(./blocks/cell/__caption/cell__caption.css);
@import url(./blocks/cell/__heart/cell__heart.css);
@import url(./blocks/cell/__basket/cell__basket.css);
@import url(./blocks/cell/__heart/cell__heart_black.css);
@import url(./blocks/cell/__image-link/cell__image-link.css);
@import url(./blocks/cell/__like/cell__like.css);
@import url(./blocks/cell/__score-likes/cell__score-likes.css);
@import url(./blocks/cell/__basket/_opened/cell__basket_opened.css);

/*Подключаем footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

/*Подключаем link-aim*/
@import url(./blocks/link-aim/link-aim.css);

/*Подключаем popup*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-label/popup__image-label.css);
@import url(./blocks/popup/__image-framing/popup__image-framing.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__box/popup__box.css);
@import url(./blocks/popup/__icon/popup__icon.css);

/*Подключаем form*/
@import url(./blocks/form/form.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__label/form__label.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input/_type/form__input_type_error.css);
@import url(./blocks/form/__button/_disabled/form__button_disabled.css);
@import url(./blocks/form/__input-error/_active/form__input-error_active.css);
@import url(./blocks/form/__label/_avatar/form__label_avatar.css);
@import url(./blocks/form/__button/_delete/form__button_delete.css);
@import url(./blocks/form/__title/_delete/form__title_delete.css);

/*Подключаем Login*/
@import url(./blocks/Login/Login.css);

/*Подключаем Login*/
@import url(./blocks/Register/Register.css);

.header__burger{
    display: none;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    margin-bottom: 27px;
}


.menu__icon  {
    display: none;
}

.menu__icon:hover  {
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s ease 0s;
}

@media (max-width: 768px){
    .menu__icon  {
        display: block;
        z-index: 5;
        position: relative;
        width: 24px;
        height: 20px;
        transition: all 0.3s ease 0s;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 12%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #FFF;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
}

.active{
    display: flex;
}